# Configuración del servidor
PORT=4000
NODE_ENV=local     # valores posibles: local | atlas

# MongoDB Local
MONGODB_HOST=localhost
MONGO_DATABASE=

# MongoDB Atlas
MONGODB_URI=

# JWT Secrets
TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
